<div
  *ngIf="this.recipeForm">
  <form
    [formGroup]="this.recipeForm"
    (ngSubmit)="this.saveRecipe()">
    <input
      class="title"
      formControlName="name"
      type="text"
      placeholder="Recipe name"
      required/>
    <div
      formArrayName="ingredients">
      <h2>
        Ingredients
      </h2>
      <div
        *ngFor="let recipeIngredient of this.recipeIngredients.controls; let i=index">
        <div
          class="flex-container"
          [formGroupName]="i">
          <input
            formControlName="quantity"
            type="text"
            placeholder="Quantity"/>
          <p>
            of
          </p>
          <select
            formControlName="_id">
            <option
              *ngFor="let ingredient of ingredients"
              [value]="ingredient._id">
              {{ingredient.name}}
            </option>
          </select>
        </div>
      </div>
      <button
        type="button"
        (click)="addIngredient()">
        +
      </button>
    </div>
    <div
      formArrayName="instructions">
      <h2>
        Instructions
      </h2>
      <div
        *ngFor="let instruction of this.instructions.controls; let i = index">
        <div
          class="flex-container"
          [formGroupName]="i">
          <p>
            {{i}}
          </p>
          <input
            formControlName="duration"
            type="text"/>
          <input
            formControlName="method"
            type="text"
            placeholder="Method"/>
        </div>
      </div>
      <button
        type="button"
        (click)="addInstruction()">
        +
      </button>
    </div>

    <div>
      <button
        type="submit"
        [disabled]="!this.recipeForm.valid">
        Save
      </button>
      <button
        (click)="deleteRecipe()">
        Delete
      </button>
    </div>
  </form>
</div>
