<div
  *ngIf="this.recipe">
  <div>
    <input
      #recipeName
      class="title"
      [(ngModel)]="this.recipe.name"
      placeholder="Recipe name"/>
  </div>

  <div>
    <div>
      <h2>Ingredients</h2>
      <li
        *ngFor="let recipeIngredient of this.recipe.ingredients">
        <br/>
        <div
          class="flex-container">
          <input
            [(ngModel)]="recipeIngredient.quantity"
            placeholder="Quantity"/>
            <p>of</p>
          <select
            [(ngModel)]="recipeIngredient._id">
            <option
              *ngFor="let ingredient of ingredients"
              [value]="ingredient._id">
              {{ingredient.name}}
            </option>
          </select>
        </div>
      </li>
      <button
        (click)="addIngredient()">
        +
      </button>
    </div>

    <div>
      <h2>Method</h2>
      <ol
        *ngFor="let instruction of this.recipe.instructions; index as i">
        <div
          class="flex-container">
          <p>{{i}}</p>
          <input
            [(ngModel)]="instruction.duration"
            placeholder="Duration"/>
          <input
            [(ngModel)]="instruction.method"
            placeholder="Method"/>
        </div>
      </ol>
      <button
        (click)="addInstruction()">
        +
      </button>
    </div>
  </div>

  <div>
    <button
      (click)="saveRecipe()">
      Save
    </button>
    <button
      (click)="deleteRecipe()">
      Delete
    </button>
  </div>
</div>
