<div
  *ngIf="recipe">
  <div>
    <input
      #recipeName
      class="title"
      [(ngModel)]="recipe.name"
      placeholder="Recipe name"/>
  </div>

  <div>
    <div>
      <h2>Ingredients</h2>
      <li
        *ngFor="let ingredient of recipe.ingredients">
        <br/>
        <div
          class="flex-container">
          <input
            [(ngModel)]="ingredient.quantity"
            placeholder="Quantity"/>
            <p>of</p>
          <input
            [(ngModel)]="ingredient.name"
            placeholder="Ingredient"/>
        </div>
      </li>
      <button
        (click)="addIngredient()">
        +
      </button>
    </div>

    <div>
      <h2>Method</h2>
      <ol
        *ngFor="let instruction of recipe.instructions; index as i">
        <div
          class="flex-container">
          <p>{{i}}</p>
          <input
            [(ngModel)]="instruction.duration"
            placeholder="Duration"/>
          <input
            [(ngModel)]="instruction.method"
            placeholder="Method"/>
        </div>
      </ol>
      <button
        (click)="addInstruction()">
        +
      </button>
    </div>
  </div>
</div>
